{% extends "parent/row-base.html" %}

{% block script %}
    <link rel="stylesheet" href="/media/css/skel-noscript.css" />
<link rel="stylesheet" href="/media/css/style.css" />
{% endblock %}

{% block title %}{{ user.get_full_name }}{% endblock %}

{% block basic-info %}


<div class="span7">
    	<div class="media-body">
      		<h4 class="media-heading">{{user.get_full_name}}</h4>
      		<h5>@{{user.username}}</h5>
		</div>
	</li>
</ul>



</div>

{% endblock %}

{% block userposts %}

    {% if links %}
        {% for feed in links %}
        <div class="well">
            <strong><a href="/{{feed.username}}">{{ feed.user.get_full_name }}</a></strong><br/>
  <strong><a href="{{ feed.url }}"> {{  feed.title }} </a></strong><br/>
    	<small title="{{feed.posted_time}}">{{ feed.posted_time|timesince }} ago</small><br/>
<strong> Posted in genre <a href="/genre/{{ feed.genre }}">{{ feed.genre }}</a> </strong><br/>
<p class="post-content">{{ feed.content }}...Read More</p>
<img src="{{ feed.img_src }}" height="300" width="300" class="img-rounded"/><br/>
</div>
{% endfor %}
{% endif %}
{% endblock %}
