{% extends "parent/bi-column-base.html" %}

{% block title %}Similar Posts{% endblock %}
{% block css %}
   
<link rel="stylesheet" href="/media/css/skel-noscript.css" />
<link rel="stylesheet" href="/media/css/style.css" />
{% endblock %}
{% block script %}
    <script type="text/javascript" src="/media/javascript/custom.js"></script>
    <script type="text/javascript" src="/media/javascript/post.js"></script>
{% endblock %}



{% block content %}

<header>
<h2>{{ main_link.title }}</h2>
</header>


<!--<p>Let's put the feed here when we build it</p>-->

<div class="container">
<div class = "container-fluid">
<div class="row-fluid well">
<strong>Shared by <a href="/{{feed.username}}">{{ feed.user.get_full_name }}</a></strong><br/>
  <strong><a href="{{ feed.url }}"> {{  feed.title }} </a></strong>
    	<small title="{{feed.posted_time}}">{{ feed.posted_time|timesince }} ago</small><br/>
<strong> Posted in genre <a href="/genre/{{ feed.genre }}">{{ feed.genre }}</a> </strong><br/>
<a href = "/show_similar/{{ feed.id }}"> <input type = "button" value="Show similar" id="{{ feed.id }}" class= " button " /></a>


<p class="post-content">{{ feed.content  }}</p>

<img src="{{ feed.img_src }}" height="200" width="450" class="img-rounded"/><br/>


</div>
</div>
</div>


{% endblock %}

