{% extends "parent/bi-column-base.html" %}

{% block title %}Similar Posts{% endblock %}
{% block css %}
   
<link rel="stylesheet" href="/media/css/skel-noscript.css" />
<link rel="stylesheet" href="/media/css/style.css" />
{% endblock %}
{% block script %}
    <script type="text/javascript" src="/media/javascript/custom.js"></script>
    <script type="text/javascript" src="/media/javascript/post.js"></script>
{% endblock %}



{% block content %}

<header>
<h2>Similar Articles to {{ main_link.title }}</h2>
</header>


<!--<p>Let's put the feed here when we build it</p>-->
{% for feed in feeds reversed %}
<div class="row-fluid well">


<strong><a href="/{{feed.username}}">{{ feed.user.get_full_name }}</a></strong><br/>
  <strong><a href="{{ feed.url }}"> {{  feed.title }} </a></strong>
    	<small title="{{feed.posted_time}}">{{ feed.posted_time|timesince }} ago</small><br/>
<strong> Posted in genre <a href="/genre/{{ feed.genre }}">{{ feed.genre }}</a> </strong><br/>
<p class="post-content">{{ feed.content }}...Read More</p>
<img src="{{ feed.img_src }}" height="300" width="300" class="img-rounded"/><br/>


</div>
{% endfor %}

{% endblock %}

